<div class="be-content">
    <div class="page-head">
        <h2 class="page-head-title">Tabs & Accordions</h2>
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb page-head-nav">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
                <li class="breadcrumb-item active">Tabs & Accordions</li>
            </ol>
        </nav>
    </div>
    <div class="main-content container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="tab-container">
                    <ul class="nav nav-tabs nav-tabs-classic" role="tablist">
                        <li class="nav-item"><a class="nav-link active" href="#classic_home" data-toggle="tab"
                                                role="tab">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#classic_profile" data-toggle="tab" role="tab">Profile</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#classic_messages" data-toggle="tab" role="tab">Messages</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="classic_home" role="tabpanel">
                            <h4>Classic Top Tabs</h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta lacus ipsum,
                                tempus consequat turpis auctor sit amet. Pellentesque porta mollis nisi, pulvinar
                                convallis tellus tristique nec.</p>
                            <p> Nam aliquet consequat quam sit amet dignissim. Quisque vel massa est. Donec dictum nisl
                                dolor, ac malesuada tellus efficitur non. Pellentesque pellentesque odio neque, eget
                                imperdiet eros vehicula lacinia.</p>
                        </div>
                        <div class="tab-pane" id="classic_profile" role="tabpanel">
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima praesentium laudantium
                                ipsa, enim maxime placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet
                                voluptate laboriosam perferendis ipsum. Expedita, maiores.</p>
                            <p> Consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime placeat,
                                dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate laboriosam
                                perferendis ipsum. Expedita, maiores.</p>
                        </div>
                        <div class="tab-pane" id="classic_messages" role="tabpanel">
                            <p>Consectetur adipisicing elit. Ipsam ut praesentium, voluptate quidem necessitatibus quam
                                nam officia soluta aperiam, recusandae.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facilis laboriosam, vitae
                                ipsum tenetur atque vel repellendus culpa reiciendis velit quas, unde soluta quidem
                                voluptas ipsam, rerum fuga placeat rem error voluptate eligendi modi. Delectus, iure sit
                                impedit? Facere provident expedita itaque, magni, quas assumenda numquam eum! Sequi
                                deserunt, rerum.</p><a href="#">Read more </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="tab-container">
                    <ul class="nav nav-tabs nav-tabs-primary nav-tabs-classic" role="tablist">
                        <li class="nav-item"><a class="nav-link active" href="#primary_home" data-toggle="tab"
                                                role="tab">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#primary_profile" data-toggle="tab" role="tab">Profile</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#primary_messages" data-toggle="tab" role="tab">Messages</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="primary_home" role="tabpanel">
                            <h4>Primary Classic Top Tabs</h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta lacus ipsum,
                                tempus consequat turpis auctor sit amet. Pellentesque porta mollis nisi, pulvinar
                                convallis tellus tristique nec.</p>
                            <p> Nam aliquet consequat quam sit amet dignissim. Quisque vel massa est. Donec dictum nisl
                                dolor, ac malesuada tellus efficitur non. Pellentesque pellentesque odio neque, eget
                                imperdiet eros vehicula lacinia.</p>
                        </div>
                        <div class="tab-pane" id="primary_profile" role="tabpanel">
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima praesentium laudantium
                                ipsa, enim maxime placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet
                                voluptate laboriosam perferendis ipsum. Expedita, maiores.</p>
                            <p> Consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime placeat,
                                dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate laboriosam
                                perferendis ipsum. Expedita, maiores.</p>
                        </div>
                        <div class="tab-pane" id="primary_messages" role="tabpanel">
                            <p>Consectetur adipisicing elit. Ipsam ut praesentium, voluptate quidem necessitatibus quam
                                nam officia soluta aperiam, recusandae.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facilis laboriosam, vitae
                                ipsum tenetur atque vel repellendus culpa reiciendis velit quas, unde soluta quidem
                                voluptas ipsam, rerum fuga placeat rem error voluptate eligendi modi. Delectus, iure sit
                                impedit? Facere provident expedita itaque, magni, quas assumenda numquam eum! Sequi
                                deserunt, rerum.</p><a href="#">Read more </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="tab-container">
                    <ul class="nav nav-tabs nav-tabs-classic" role="tablist">
                        <li class="nav-item"><a class="nav-link active" href="#classic_icon_home" data-toggle="tab"
                                                role="tab"><span class="icon mdi mdi-home"></span></a></li>
                        <li class="nav-item"><a class="nav-link" href="#classic_icon_profile" data-toggle="tab"
                                                role="tab"><span class="icon mdi mdi-face"></span></a></li>
                        <li class="nav-item"><a class="nav-link" href="#classic_icon_messages" data-toggle="tab"
                                                role="tab"><span class="icon mdi mdi-email"></span></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="classic_icon_home" role="tabpanel">
                            <h4>Classic Icon Top Tabs</h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta lacus ipsum,
                                tempus consequat turpis auctor sit amet. Pellentesque porta mollis nisi, pulvinar
                                convallis tellus tristique nec.</p>
                            <p> Nam aliquet consequat quam sit amet dignissim. Quisque vel massa est. Donec dictum nisl
                                dolor, ac malesuada tellus efficitur non. Pellentesque pellentesque odio neque, eget
                                imperdiet eros vehicula lacinia.</p>
                        </div>
                        <div class="tab-pane" id="classic_icon_profile" role="tabpanel">
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima praesentium laudantium
                                ipsa, enim maxime placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet
                                voluptate laboriosam perferendis ipsum. Expedita, maiores.</p>
                            <p> Consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime placeat,
                                dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate laboriosam
                                perferendis ipsum. Expedita, maiores.</p>
                        </div>
                        <div class="tab-pane" id="classic_icon_messages" role="tabpanel">
                            <p>Consectetur adipisicing elit. Ipsam ut praesentium, voluptate quidem necessitatibus quam
                                nam officia soluta aperiam, recusandae.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facilis laboriosam, vitae
                                ipsum tenetur atque vel repellendus culpa reiciendis velit quas, unde soluta quidem
                                voluptas ipsam, rerum fuga placeat rem error voluptate eligendi modi. Delectus, iure sit
                                impedit? Facere provident expedita itaque, magni, quas assumenda numquam eum! Sequi
                                deserunt, rerum.</p><a href="#">Read more </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="tab-container tab-left">
                    <ul class="nav nav-tabs nav-tabs-classic" role="tablist">
                        <li class="nav-item"><a class="nav-link active" href="#icon1" data-toggle="tab" role="tab"><span
                                class="icon mdi mdi-home"></span></a></li>
                        <li class="nav-item"><a class="nav-link" href="#icon2" data-toggle="tab" role="tab"><span
                                class="icon mdi mdi-face"></span></a></li>
                        <li class="nav-item"><a class="nav-link" href="#icon3" data-toggle="tab" role="tab"><span
                                class="icon mdi mdi-email"></span></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="icon1" role="tabpanel">
                            <h4>Classic Left Icon Tabs</h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta lacus ipsum,
                                tempus consequat turpis auctor sit amet. Pellentesque porta mollis nisi, pulvinar
                                convallis tellus tristique nec.</p>
                            <p> Nam aliquet consequat quam sit amet dignissim. Quisque vel massa est. Donec dictum nisl
                                dolor, ac malesuada tellus efficitur non. Pellentesque pellentesque odio neque, eget
                                imperdiet eros vehicula lacinia.</p>
                        </div>
                        <div class="tab-pane" id="icon2" role="tabpanel">
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima praesentium laudantium
                                ipsa, enim maxime placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet
                                voluptate laboriosam perferendis ipsum. Expedita, maiores.</p>
                            <p> Consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime placeat,
                                dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate laboriosam
                                perferendis ipsum. Expedita, maiores.</p>
                        </div>
                        <div class="tab-pane" id="icon3" role="tabpanel">
                            <p>Consectetur adipisicing elit. Ipsam ut praesentium, voluptate quidem necessitatibus quam
                                nam officia soluta aperiam, recusandae.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facilis laboriosam, vitae
                                ipsum tenetur atque vel repellendus culpa reiciendis velit quas, unde soluta quidem
                                voluptas ipsam, rerum fuga placeat rem error voluptate eligendi modi. Delectus, iure sit
                                impedit? Facere provident expedita itaque, magni, quas assumenda numquam eum! Sequi
                                deserunt, rerum.</p><a href="#">Read more </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-header">Default Tabs</div>
                    <div class="tab-container">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link active" href="#home" data-toggle="tab" role="tab">Home</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#profile" data-toggle="tab" role="tab">Profile</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#messages" data-toggle="tab" role="tab">Messages</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="home" role="tabpanel">
                                <h4>Top Tabs</h4>
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta lacus ipsum,
                                    tempus consequat turpis auctor sit amet. Pellentesque porta mollis nisi, pulvinar
                                    convallis tellus tristique nec.</p>
                                <p> Nam aliquet consequat quam sit amet dignissim. Quisque vel massa est. Donec dictum
                                    nisl dolor, ac malesuada tellus efficitur non. Pellentesque pellentesque odio neque,
                                    eget imperdiet eros vehicula lacinia.</p>
                            </div>
                            <div class="tab-pane" id="profile" role="tabpanel">
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima praesentium
                                    laudantium ipsa, enim maxime placeat, dolores quos sequi nisi iste velit
                                    perspiciatis rerum eveniet voluptate laboriosam perferendis ipsum. Expedita,
                                    maiores.</p>
                                <p> Consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime
                                    placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate
                                    laboriosam perferendis ipsum. Expedita, maiores.</p>
                            </div>
                            <div class="tab-pane" id="messages" role="tabpanel">
                                <p>Consectetur adipisicing elit. Ipsam ut praesentium, voluptate quidem necessitatibus
                                    quam nam officia soluta aperiam, recusandae.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facilis laboriosam,
                                    vitae ipsum tenetur atque vel repellendus culpa reiciendis velit quas, unde soluta
                                    quidem voluptas ipsam, rerum fuga placeat rem error voluptate eligendi modi.
                                    Delectus, iure sit impedit? Facere provident expedita itaque, magni, quas assumenda
                                    numquam eum! Sequi deserunt, rerum.</p><a href="#">Read more </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-header">Success Tabs</div>
                    <div class="tab-container">
                        <ul class="nav nav-tabs nav-tabs-success" role="tablist">
                            <li class="nav-item"><a class="nav-link active" href="#home1" data-toggle="tab" role="tab">Home</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#profile1" data-toggle="tab" role="tab">Profile</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#messages1" data-toggle="tab" role="tab">Messages</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="home1" role="tabpanel">
                                <h4>Top Tabs</h4>
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta lacus ipsum,
                                    tempus consequat turpis auctor sit amet. Pellentesque porta mollis nisi, pulvinar
                                    convallis tellus tristique nec.</p>
                                <p> Nam aliquet consequat quam sit amet dignissim. Quisque vel massa est. Donec dictum
                                    nisl dolor, ac malesuada tellus efficitur non. Pellentesque pellentesque odio neque,
                                    eget imperdiet eros vehicula lacinia.</p>
                            </div>
                            <div class="tab-pane" id="profile1" role="tabpanel">
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima praesentium
                                    laudantium ipsa, enim maxime placeat, dolores quos sequi nisi iste velit
                                    perspiciatis rerum eveniet voluptate laboriosam perferendis ipsum. Expedita,
                                    maiores.</p>
                                <p> Consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime
                                    placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate
                                    laboriosam perferendis ipsum. Expedita, maiores.</p>
                            </div>
                            <div class="tab-pane" id="messages1" role="tabpanel">
                                <p>Consectetur adipisicing elit. Ipsam ut praesentium, voluptate quidem necessitatibus
                                    quam nam officia soluta aperiam, recusandae.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facilis laboriosam,
                                    vitae ipsum tenetur atque vel repellendus culpa reiciendis velit quas, unde soluta
                                    quidem voluptas ipsam, rerum fuga placeat rem error voluptate eligendi modi.
                                    Delectus, iure sit impedit? Facere provident expedita itaque, magni, quas assumenda
                                    numquam eum! Sequi deserunt, rerum.</p><a href="#">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-header">Warning Tabs</div>
                    <div class="tab-container">
                        <ul class="nav nav-tabs nav-tabs-warning" role="tablist">
                            <li class="nav-item"><a class="nav-link active" href="#home2" data-toggle="tab" role="tab">Home</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#profile2" data-toggle="tab" role="tab">Profile</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#messages2" data-toggle="tab" role="tab">Messages</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="home2" role="tabpanel">
                                <h4>Top Tabs</h4>
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta lacus ipsum,
                                    tempus consequat turpis auctor sit amet. Pellentesque porta mollis nisi, pulvinar
                                    convallis tellus tristique nec.</p>
                                <p> Nam aliquet consequat quam sit amet dignissim. Quisque vel massa est. Donec dictum
                                    nisl dolor, ac malesuada tellus efficitur non. Pellentesque pellentesque odio neque,
                                    eget imperdiet eros vehicula lacinia.</p>
                            </div>
                            <div class="tab-pane" id="profile2" role="tabpanel">
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima praesentium
                                    laudantium ipsa, enim maxime placeat, dolores quos sequi nisi iste velit
                                    perspiciatis rerum eveniet voluptate laboriosam perferendis ipsum. Expedita,
                                    maiores.</p>
                                <p> Consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime
                                    placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate
                                    laboriosam perferendis ipsum. Expedita, maiores.</p>
                            </div>
                            <div class="tab-pane" id="messages2" role="tabpanel">
                                <p>Consectetur adipisicing elit. Ipsam ut praesentium, voluptate quidem necessitatibus
                                    quam nam officia soluta aperiam, recusandae.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facilis laboriosam,
                                    vitae ipsum tenetur atque vel repellendus culpa reiciendis velit quas, unde soluta
                                    quidem voluptas ipsam, rerum fuga placeat rem error voluptate eligendi modi.
                                    Delectus, iure sit impedit? Facere provident expedita itaque, magni, quas assumenda
                                    numquam eum! Sequi deserunt, rerum.</p><a href="#">Read more </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-header">Danger Tabs</div>
                    <div class="tab-container">
                        <ul class="nav nav-tabs nav-tabs-danger" role="tablist">
                            <li class="nav-item"><a class="nav-link active" href="#home3" data-toggle="tab" role="tab">Home</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#profile3" data-toggle="tab" role="tab">Profile</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#messages3" data-toggle="tab" role="tab">Messages</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="home3" role="tabpanel">
                                <h4>Top Tabs</h4>
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta lacus ipsum,
                                    tempus consequat turpis auctor sit amet. Pellentesque porta mollis nisi, pulvinar
                                    convallis tellus tristique nec.</p>
                                <p> Nam aliquet consequat quam sit amet dignissim. Quisque vel massa est. Donec dictum
                                    nisl dolor, ac malesuada tellus efficitur non. Pellentesque pellentesque odio neque,
                                    eget imperdiet eros vehicula lacinia.</p>
                            </div>
                            <div class="tab-pane" id="profile3" role="tabpanel">
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima praesentium
                                    laudantium ipsa, enim maxime placeat, dolores quos sequi nisi iste velit
                                    perspiciatis rerum eveniet voluptate laboriosam perferendis ipsum. Expedita,
                                    maiores.</p>
                                <p> Consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime
                                    placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate
                                    laboriosam perferendis ipsum. Expedita, maiores.</p>
                            </div>
                            <div class="tab-pane" id="messages3" role="tabpanel">
                                <p>Consectetur adipisicing elit. Ipsam ut praesentium, voluptate quidem necessitatibus
                                    quam nam officia soluta aperiam, recusandae.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facilis laboriosam,
                                    vitae ipsum tenetur atque vel repellendus culpa reiciendis velit quas, unde soluta
                                    quidem voluptas ipsam, rerum fuga placeat rem error voluptate eligendi modi.
                                    Delectus, iure sit impedit? Facere provident expedita itaque, magni, quas assumenda
                                    numquam eum! Sequi deserunt, rerum.</p><a href="#">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-header">Icon Tabs</div>
                    <div class="tab-container">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link active" href="#home4" data-toggle="tab"
                                                    role="tab"><span class="icon mdi mdi-home"></span></a></li>
                            <li class="nav-item"><a class="nav-link" href="#profile4" data-toggle="tab" role="tab"><span
                                    class="icon mdi mdi-face"></span></a></li>
                            <li class="nav-item"><a class="nav-link" href="#messages4" data-toggle="tab"
                                                    role="tab"><span class="icon mdi mdi-email"></span></a></li>
                            <li class="nav-item"><a class="nav-link" href="#settings4" data-toggle="tab"
                                                    role="tab"><span class="icon mdi mdi-settings"></span></a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="home4" role="tabpanel">
                                <h4>Top Tabs</h4>
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta lacus ipsum,
                                    tempus consequat turpis auctor sit amet. Pellentesque porta mollis nisi, pulvinar
                                    convallis tellus tristique nec.</p>
                                <p> Nam aliquet consequat quam sit amet dignissim. Quisque vel massa est. Donec dictum
                                    nisl dolor, ac malesuada tellus efficitur non. Pellentesque pellentesque odio neque,
                                    eget imperdiet eros vehicula lacinia.</p>
                            </div>
                            <div class="tab-pane" id="profile4" role="tabpanel">
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima praesentium
                                    laudantium ipsa, enim maxime placeat, dolores quos sequi nisi iste velit
                                    perspiciatis rerum eveniet voluptate laboriosam perferendis ipsum. Expedita,
                                    maiores.</p>
                                <p> Consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime
                                    placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate
                                    laboriosam perferendis ipsum. Expedita, maiores.</p>
                            </div>
                            <div class="tab-pane" id="messages4" role="tabpanel">
                                <p>Consectetur adipisicing elit. Ipsam ut praesentium, voluptate quidem necessitatibus
                                    quam nam officia soluta aperiam, recusandae.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facilis laboriosam,
                                    vitae ipsum tenetur atque vel repellendus culpa reiciendis velit quas, unde soluta
                                    quidem voluptas ipsam, rerum fuga placeat rem error voluptate eligendi modi.
                                    Delectus, iure sit impedit? Facere provident expedita itaque, magni, quas assumenda
                                    numquam eum! Sequi deserunt, rerum.</p><a href="#">Read more </a>
                            </div>
                            <div class="tab-pane cont" id="settings4" role="tabpanel">
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima praesentium
                                    laudantium ipsa, enim maxime placeat, dolores quos sequi nisi iste velit
                                    perspiciatis rerum eveniet voluptate laboriosam perferendis ipsum. Expedita,
                                    maiores.</p>
                                <p> Consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime
                                    placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate
                                    laboriosam perferendis ipsum. Expedita, maiores.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-header">Icon Text Tabs</div>
                    <div class="tab-container">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link active" href="#home5" data-toggle="tab"
                                                    role="tab"><span class="icon mdi mdi-home"></span>Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="#profile5" data-toggle="tab" role="tab"><span
                                    class="icon mdi mdi-face"></span>Profile</a></li>
                            <li class="nav-item"><a class="nav-link" href="#messages5" data-toggle="tab"
                                                    role="tab"><span class="icon mdi mdi-email"></span>Messages</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="home5" role="tabpanel">
                                <h4>Top Tabs</h4>
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta lacus ipsum,
                                    tempus consequat turpis auctor sit amet. Pellentesque porta mollis nisi, pulvinar
                                    convallis tellus tristique nec.</p>
                                <p> Nam aliquet consequat quam sit amet dignissim. Quisque vel massa est. Donec dictum
                                    nisl dolor, ac malesuada tellus efficitur non. Pellentesque pellentesque odio neque,
                                    eget imperdiet eros vehicula lacinia.</p>
                            </div>
                            <div class="tab-pane" id="profile5" role="tabpanel">
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima praesentium
                                    laudantium ipsa, enim maxime placeat, dolores quos sequi nisi iste velit
                                    perspiciatis rerum eveniet voluptate laboriosam perferendis ipsum. Expedita,
                                    maiores.</p>
                                <p> Consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime
                                    placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate
                                    laboriosam perferendis ipsum. Expedita, maiores.</p>
                            </div>
                            <div class="tab-pane" id="messages5" role="tabpanel">
                                <p>Consectetur adipisicing elit. Ipsam ut praesentium, voluptate quidem necessitatibus
                                    quam nam officia soluta aperiam, recusandae.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facilis laboriosam,
                                    vitae ipsum tenetur atque vel repellendus culpa reiciendis velit quas, unde soluta
                                    quidem voluptas ipsam, rerum fuga placeat rem error voluptate eligendi modi.
                                    Delectus, iure sit impedit? Facere provident expedita itaque, magni, quas assumenda
                                    numquam eum! Sequi deserunt, rerum.</p><a href="#">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="accordion" id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne"><i class="icon mdi mdi-chevron-right"></i>Basic
                                accordion
                            </button>
                        </div>
                        <div class="collapse show" id="collapseOne" aria-labelledby="headingOne"
                             data-parent="#accordion">
                            <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed
                                vestibulum quam. Pellentesque non feugiat neque, non volutpat orci. Integer ligula
                                lacus, ornare eget lobortis ut, molestie quis risus.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <button class="btn" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapsetwo"><i class="icon mdi mdi-chevron-right"></i>Collapsible
                                Group Item #2
                            </button>
                        </div>
                        <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed
                                vestibulum quam. Pellentesque non feugiat neque, non volutpat orci. Integer ligula
                                lacus, ornare eget lobortis ut, molestie quis risus.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <button class="btn" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree"><i
                                    class="icon mdi mdi-chevron-right"></i>Collapsible Group Item #3
                            </button>
                        </div>
                        <div class="collapse" id="collapseThree" aria-labelledby="headingThree"
                             data-parent="#accordion">
                            <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed
                                vestibulum quam. Pellentesque non feugiat neque, non volutpat orci. Integer ligula
                                lacus, ornare eget lobortis ut, molestie quis risus.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour" role="tab">
                            <button class="btn" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                    aria-controls="collapseFour"><i class="icon mdi mdi-chevron-right"></i>Collapsible
                                Group Item #4
                            </button>
                        </div>
                        <div class="collapse" id="collapseFour" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed
                                vestibulum quam. Pellentesque non feugiat neque, non volutpat orci. Integer ligula
                                lacus, ornare eget lobortis ut, molestie quis risus.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="accordion accordion-color" id="accordion2">
                    <div class="card card-full-primary">
                        <div class="card-header" id="headingOne2">
                            <button class="btn" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="true"
                                    aria-controls="collapseOne2"><i class="icon mdi mdi-chevron-right"></i>Primary Color
                            </button>
                        </div>
                        <div class="collapse show" id="collapseOne2" aria-labelledby="headingOne2"
                             data-parent="#accordion2">
                            <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed
                                vestibulum quam. Pellentesque non feugiat neque, non volutpat orci. Integer ligula
                                lacus, ornare eget lobortis ut, molestie quis risus.
                            </div>
                        </div>
                    </div>
                    <div class="card card-full-success">
                        <div class="card-header" id="headingTwo2">
                            <button class="btn" data-toggle="collapse" data-target="#collapseTwo2" aria-expanded="false"
                                    aria-controls="collapsetwo2"><i class="icon mdi mdi-chevron-right"></i>Success Color
                            </button>
                        </div>
                        <div class="collapse" id="collapseTwo2" aria-labelledby="headingTwo2" data-parent="#accordion2">
                            <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed
                                vestibulum quam. Pellentesque non feugiat neque, non volutpat orci. Integer ligula
                                lacus, ornare eget lobortis ut, molestie quis risus.
                            </div>
                        </div>
                    </div>
                    <div class="card card-full-warning">
                        <div class="card-header">
                            <div class="card-header" id="headingThree2" role="tab"></div>
                            <button class="btn" data-toggle="collapse" data-target="#collapseThree2"
                                    aria-expanded="false" aria-controls="collapseThree2"><i
                                    class="icon mdi mdi-chevron-right"></i>Warning Color
                            </button>
                        </div>
                        <div class="collapse" id="collapseThree2" aria-labelledby="headingThree2"
                             data-parent="#accordion2">
                            <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed
                                vestibulum quam. Pellentesque non feugiat neque, non volutpat orci. Integer ligula
                                lacus, ornare eget lobortis ut, molestie quis risus.
                            </div>
                        </div>
                    </div>
                    <div class="card card-full-danger">
                        <div class="card-header" id="headingFour2" role="tab">
                            <button class="btn" data-toggle="collapse" data-target="#collapseFour2"
                                    aria-expanded="false" aria-controls="collapseFour2"><i
                                    class="icon mdi mdi-chevron-right"></i>Danger Color
                            </button>
                        </div>
                        <div class="collapse" id="collapseFour2" aria-labelledby="headingFour2"
                             data-parent="#accordion2">
                            <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed
                                vestibulum quam. Pellentesque non feugiat neque, non volutpat orci. Integer ligula
                                lacus, ornare eget lobortis ut, molestie quis risus.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
