<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% if title %}
        <title>{{ title }} - Zzmath</title>
    {% else %}
        <title>Zzmath</title>
    {% endif %}
    <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aleo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="../../static/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../static/assets/css/Bootstrap-DataTables.css">
    <link rel="stylesheet" href="../../static/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/assets/css/MUSA_no-more-tables-1.css">
    <link rel="stylesheet" href="../../static/assets/css/MUSA_no-more-tables.css">
    <link rel="icon" href="../../static/favicon.ico" type="image/x-icon">
</head>
<body>
<nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid"><a class="navbar-brand" href="{{ url_for("zhihu.home") }}">Zzmath</a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"><a class="nav-link {% if active == "chinese" %}active{% endif %}"
                                                            href="{{ url_for("zhihu.index", category="chinese") }}">语文</a>
                </li>
                <li class="nav-item" role="presentation"><a class="nav-link {% if active == "math" %}active{% endif %}"
                                                            href="{{ url_for("zhihu.index", category="math") }}">数学</a>
                </li>
                <li class="nav-item" role="presentation"><a class="nav-link {% if active == "english" %}active{% endif %}"
                                                            href="{{ url_for("zhihu.index", category="english") }}">英语</a>
                </li>
                <li class="nav-item" role="presentation"><a class="nav-link {% if active == "physics" %}active{% endif %}"
                                                            href="{{ url_for("zhihu.index", category="physics") }}">物理</a>
                </li>
                <li class="nav-item" role="presentation"><a class="nav-link {% if active == "chemistry" %}active{% endif %}"
                                                            href="{{ url_for("zhihu.index", category="chemistry") }}">化学</a>
                </li>
                <li class="nav-item" role="presentation"><a class="nav-link {% if active == "biology" %}active{% endif %}"
                                                            href="{{ url_for("zhihu.index", category="biology") }}">生物</a>
                </li>
                <li class="nav-item" role="presentation"><a class="nav-link {% if active == "political" %}active{% endif %}"
                                                            href="{{ url_for("zhihu.index", category="political") }}">政治</a>
                </li>
                <li class="nav-item" role="presentation"><a class="nav-link {% if active == "history" %}active{% endif %}"
                                                            href="{{ url_for("zhihu.index", category="history") }}">历史</a>
                </li>
                <li class="nav-item" role="presentation"><a class="nav-link {% if category == "geography" %}active{% endif %}"
                                                            href="{{ url_for("zhihu.index", category="geography") }}">地理</a>
                </li>
                <li class="nav-item" role="presentation"></li>
            </ul>
        </div>
    </div>
</nav>
{% block content %}{% endblock %}
<div class="footer-basic">
    <footer class="footer">
        <div class="container">
            <div class="social"><a href="https://www.zhihu.com/people/zerostwo"><i class="fab fa-zhihu"></i></a><a
                    href="https://weibo.com/u/3764641951"><i class="fab fa-weibo"></i></a><a
                    href="https://github.com/zerostwo"><i class="fab fa-github"></i></a><a
                    href="../../static/assets/img/zzmath.png"><i class="fab fa-qq"></i></a></div>
            <p class="copyright">Copyright © <a href="https://zzmath.top" style="color: #aaa">Zzmath</a> 2020
                <img style="width: 16px;vertical-align: sub;" src="../../static/filing.png">
                <a href="http://www.beian.miit.gov.cn" style="color: #aaa">蜀ICP备18027889号</a></p>
        </div>
    </footer>
</div>
<script src="../../static/assets/js/jquery.min.js"></script>
<script src="../../static/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../../static/assets/js/jquery.dataTables.min.js"></script>
<script src="../../static/assets/js/dataTables.bootstrap4.min.js"></script>
<script src="../../static/assets/js/Bootstrap-DataTables.js"></script>
</body>
</html>